.health-cards {
  max-width: 260px;
  margin: auto;
}

.health-card {
  border-radius: 12px;
  background-color: #f9f9fc;
  border: none;
}

.emoji-icon {
  font-size: 1.5rem;
}

.date-text {
  font-size: 0.85rem;
  color: #6c757d;
}
